
h1 {
    background-color: green;
}

.hover-box {
  width: 300px;
  height: 150px;
    background: linear-gradient(to bottom, #f9f9f9, #e0e0e0);
  color: #000000;
    border: 2px solid #333;


  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  .expereince-title {
    margin: 10px;
    padding: 10px;
  }
}

.description {
    visibility: collapse;
}

#waldorf.hover-box:hover {
    background: rgb(236, 13, 13);
    width: 400px;
    height: 300px;
    padding-right: 20px;

    .description {
        visibility: visible;
    }
    
}

#machine.hover-box:hover {
    background: rgb(236, 165, 13);
    width: 400px;
    height: 300px;
    padding-right: 20px;
    .description {
        visibility: visible;
    }
    
}

.expereince-info {
    font-size: xx-small;
}

/* flexbox stuff */


      .flex-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 20px;
      }
      .flex-item {
        flex: 1 1 100px;
        background: rgb(255, 255, 255);
        padding: 20px;
        text-align: center;
      }